.header {
    font-size: 14px;
    position: relative;
    margin-bottom: 135px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header	col {
    display: flex; 
    align-items: center;
}

.header__col--align--right{
    justify-content: flex-end;
    margin-top: 79px;

}

.header__logo {
    display: inline-block;
    margin-right: 79px;
    margin-top: 50px;
}